<!-- Tähän rakennetaan sovelluksen käyttöliittymä. Käyttöliittymän eri elementit
 kuten sidebar jaetaan luokkiin (class) jotta niihin voidaan kätevästi soveltaa tyylejä. -->

<!-- Koko sisältö -->

<div class="centered-content">
    <div class="task-manager-container">

<!-- Sovelluksen vasemmassa laidassa oleva Sidebar, jossa näkyvät tehtävälistat -->

        <div class="sidebar has-background-white">

           <!-- <div class="logo">
                <img src="../../images/testlogo.png" alt="" />
            </div> -->

            <h1 class="title has-text-primary">
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-item is-active">
                    <p>List 1</p>
                </a>
                <a class="list-menu-item">
                    <p>List 2</p>
                </a>
                <a class="list-menu-item">
                    <p>List 3</p>
                </a>
                <a class="list-menu-item">
                    <p>List 4</p>
                </a>
            </div>

            <button class="button is-primary has-text-white">New List</button>
        </div>

<!-- Tässä osiossa näkyvät tehtävät (tasks) -->

        <div class="task-list-container">
            <h1 class="title has-text-primary">
                Tasks
            </h1>
            <div class="task">
                <p>This is something I have to do.</p>
            </div>
            <div class="task">
                <p>This is something I have to do.</p>
            </div>
            <div class="task">
                <p>This is something I have to do.</p>
            </div>
            <div class="task complete">
                <p>This is something I have to do.</p>
            </div>
        </div>
    </div>
</div>